.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-dots {
	font-size:(9/10)*1rem;
	width:(15/9)*1em;
}
.icon-resto {
	font-size:(32/10)*1rem;
	width:(71/32)*1em;
}
