.bottom-nav__link
{
    font-family: 'aleoregular', sans-serif;

    display: inline-block;

    padding: rem(10px) 0;

    color: #fff;
    border-bottom: rem(2px) solid transparent;

    &:hover
    {
        border-bottom: rem(2px) solid $red;
    }
}
