.dish__img
{
    width: 100%;
    height: auto;
    max-height: rem(190px);
}

.dish__text
{
    display: flex;

    width: 100%;
    padding-top: rem(25px);
    padding-bottom: rem(10px);

    justify-content: space-between;
}

.dish__name,
.dish__price
{
    display: inline-block;
}
