.dishes__container
{
    position: relative;
}

.dishes__slider
{
    overflow: hidden;

    width: 100%;
}

.dishes__list
{
    // wrapper
    display: flex;
}

.dishes__item
{
    display: flex;
    flex-direction: column;

    width: 20%;
    max-width: rem(230px);
    margin-right: rem(60px);

    &:last-child
    {
        margin-right: 0;
    }
}
