.flag
{
    line-height: rem(50px);

    position: relative;

    overflow: hidden;

    width: rem(155px);
    height: rem(75px);
    margin: 0 auto;

    text-align: center;

    color: #fff;
    background-color: $red;

    &::after
    {
        position: absolute;
        bottom: 0;
        left: 50%;

        display: block;

        margin-left: rem(-20px);

        content: '';
        transform: scaleX(5);

        border: rem(20px) solid #fff;
        border-top-width: 0;
        border-right-color: transparent;
        border-bottom-color: #fff;
        border-left-color: transparent;
    }
}

.flag__text
{
    font-family: 'aleobold', sans-serif;
    font-size: rem(20px);

    margin: 0;
    padding: 0;
}
