.flag {
  width: 155px;
  height: 75px;
  background-color: $red;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  line-height: 50px;

  &::after {
    content: '';
    display: block;
    border: 20px solid #fff;
    border-bottom-color: #fff;
    border-top-width: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    transform: scaleX(5);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;

  }
}

.flag__text {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: 'aleobold', sans-serif;
}