.footer {
  height: 320px;
  width: 100%;
  background-color: $dark;
  
}

.footer__container {
  display: flex;
  color: #fff;
  font-family: 'aleolight', sans-serif;
  padding: 90px 0;
}

.footer__column {
  width: 25%;
  height: 100%;
}