.gallery__list
{
    position: relative;

    display: flex;
    overflow: hidden;

    margin-bottom: rem(200px);

    @include screen-sm
    {
        flex-wrap: wrap;
    }
}

.gallery__column
{
    font-size: 0;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 33%;
    height: 100%;
    margin-left: rem(-1px);

    @include screen-sm
    {
        width: 100%;
        height: 50;
    }

    &:first-child
    {
        margin-top: rem(-1px);
        margin-left: rem(0px);

        @include screen-sm
        {
            margin-left: rem(-1px);
        }
    }
}

.gallery__row
{
    font-size: 0;

    overflow: hidden;

    width: 100%;
    height: 50%;
    margin-top: rem(-1px);

    &:first-child
    {
        margin-left: rem(0px);
    }
}

.gallery__img
{
    width: 100%;
    height: auto;

    cursor: pointer;

    @include screen-sm
    {
        cursor: default;
    }
}
