.greeting {
  background-color: $gray;
  background-image: url('../img/greeting-bg.png');
  background-size: cover;
  width: 100%;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px -20px 0px -10px rgba(#f34949, 0.7);

}