.greeting
{
    display: flex;

    width: 100%;
    height: rem(580px);

    background-color: $gray;
    background-image: url('../img/greeting-bg.png');
    background-size: cover;
    box-shadow: inset rem(0px) rem(-20px) rem(0px) rem(-10px) rgba(#f34949, .7);

    align-items: center;
    justify-content: center;
}
