.header
{
    position: relative;

    width: 100%;
    height: rem(110px);

    background-color: #fff;

    @include screen-sm
    {
        height: rem(55px);
    }
}

.header__container
{
    display: flex;

    justify-content: space-between;
    align-items: center;
}
