.line
{
    position: relative;

    display: inline-block;

    width: rem(40px);
    height: rem(10px);

    &::after
    {
        position: absolute;
        top: rem(3px);

        display: block;

        width: 100%;
        height: rem(1px);

        content: '';

        background-color: #fff;
    }

    &--inMenu
    {
        flex-grow: 1;
        &::after
        {
            top: rem(5px);

            background-color: $lightGray;
        }
    }

    &--inTitle
    {
        width: rem(200px);

        @include screen-sm
        {
            width: rem(40px);
        }

        &::after
        {
            top: rem(1px);

            background-color: $lightGray;
        }
    }
}
