.logo
{
    width: rem(85px);
    height: rem(32px);
}

.logo__link
{
    font-size: rem(0px);

    display: block;
}

.logo__resto
{
    display: inline-block;

    width: rem(69px);
    height: rem(30px);

    fill: $dark;

    &--footer
    {
        fill: #fff;
    }
}

.logo__dots
{
    display: inline-block;

    width: rem(12px);
    height: rem(7px);
    margin-left: rem(-7px);

    fill: $red;
}
