.more__link
{
    font-size: rem(14px);

    position: relative;

    display: block;

    width: rem(136px);
    height: rem(37px);
    margin: 0 auto;
    padding: rem(10px) rem(18px);

    color: $lightGray;
    border: rem(1px) solid $lightGray;

    &::before,
    &::after
    {
        position: absolute;

        display: block;

        content: '';
    }

    &::before
    {
        top: rem(13px);
        right: rem(33px);

        width: rem(1px);
        height: rem(12px);

        background-color: $lightGray;
    }

    &::after
    {
        top: rem(14px);
        right: rem(12px);

        width: rem(6px);
        height: rem(6px);

        transition: transform .3s;
        transform: rotate(45deg);

        border-right: rem(1px) solid $lightGray;
        border-bottom: rem(1px) solid $lightGray;
    }

    &--opened
    {
        &::after
        {
            top: rem(16px);

            transform: rotate(225deg);
        }
    }
}
