.more__link {
  display: block;
  margin: 0 auto;
  width: 136px;
  height: 37px;
  border: 1px solid $lightGray;
  color: $lightGray;
  font-size: 14px;
  padding: 10px 18px;
  position: relative;
  
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;

  }

  &::before {
    height: 12px;
    width: 1px;
    right: 33px;
    top: 13px;
    background-color: $lightGray;
  } 

  &::after {
    width: 6px;
    height: 6px;
    border-right: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    transform: rotate(45deg);
    transition: transform 0.3s;
    top: 14px;
    right: 12px;
  }

  &--opened {
    &::after { 
      transform: rotate(225deg);
      top: 16px;
    }
  }

}