.promo {
  text-align: center;
}

.promo__header {
  padding: 0;
  margin: 0;
  font-family: 'manoregular', sans-serif;
  font-size: 100px;
  text-transform: capitalize;
  color: #fff;
  font-weight: lighter;
  line-height: 60px;
  text-align: center;
}

.promo__text {
  display: inline-block;
  color: #fff;
  text-align: center;
}