.rating {
  height: rem(15px);
  width: rem(100px);
}

.rating__star {
  display: inline-block;
  width: rem(13px);
  height: rem(13px);
  // fill: $lightGray;
  // color: $lightGray;
  // font-size: rem(13px);
  // font-family: 'star', sans-serif;
  background-image: url('../img/star-empty.png');

  &--filled {
    background-image: url('../img/star-filled.png')
  }

}